<div class="navMenu container-fluid navbar-inverse fixed-top">
    <nav class="navbar navbar-toggleable-md container">
        <a class="navbar-brand" href="#"> <a href="#"><img src="../../assets/img/logo_banner_PandaCode.png" alt=""></a> </a>
        <ul class="navbar-nav ml-auto py-2">
            <li class="nav-item px-5">
                <a class="nav-link" href="#"><h6>Inicio</h6></a>
            </li>
            <li class="nav-item px-5">
                <a class="nav-link" href="#"><h6>Tutoriales</h6></a>
            </li>
            <li class="nav-item px-5">
                <a class="nav-link" href="#"><h6>Acerca de</h6></a>
            </li>
        </ul>
    </nav>
</div>