.card{
    -webkit-box-shadow: 0px 5px 0px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 0px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 0px 1px rgba(0,0,0,0.25);
    padding:0;
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: auto;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        margin: 0;
    }
    h6{
        z-index: 100;
        color: white;
        margin:0;
        font-family: 'Lato', sans-serif;
        background-color: rgba(0,0,0,0.75);
        height: 50px;
    }
}
.cardMax{
    height: 300px;    
}
.cardMin{
    height: 150px;
    img{
        transition: all 1s ease;
    }
    img:hover{
        cursor: default;
        top: -100px;
        left: -25px;
        width:125%;
        transform: rotate(15deg);
        transition: all 0.3s ease-in-out 0s;
    }
}
h3{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.textRecent{
    width: 100%;
    position: absolute;
    overflow:hidden;  
    bottom:0;
    h5, p{
        z-index: 100;
        color: white;
        margin:0;
        font-family: 'Lato', sans-serif;
        position: relative;
        -webkit-transition: top 1s;
        -moz-transition: top 1s;
        -o-transition: top 1s ease .1s;
        transition: top 1s ease .1s;
    }
    h5{
        background-color: rgba(0,0,0,0.75);
        height: 50px;
        top: 100px;
    }
    p{
        background-color: rgba(0,0,0,0.50);
        height: 100px;
        top: 100px;
    }
    h5:hover + p, h5:hover, p:hover + h5{
        top: 0px;
    }
}